<div class="panel__left" ng-controller="ImageVideoController as ivc">
  <div class="img" style="background-image: url({{ivc.imageSrc}});">
    <div class="img__overlay">
      <button class="btn" id="btn__loadVideo" ng-click="ivc.loadVideoModal()">
        <i class="material-icons btn__play">play_arrow</i>
      </button>
    </div>
  </div>
</div>
<div id="myModal" class="modal">
  <div class="modal__content">
    <span class="modal__btn-close" ng-click="ivc.closeVideoModal()"
      >&times;</span
    >
    <iframe class="modal__iframe" id="videoIframe" ng-src="{{ivc.videoSrc}}">
    </iframe>
  </div>
</div>
