<section id="body" class="panel panel--align panel--margin">
  <image-video
    imageSrc="{{meal.strMealThumb}}"
    videoSrc="{{meal.strYoutube}}"
  ></image-video>
  <div class="panel__right">
    <h3 class="title--font h3--size text--margin0 title--color">
      {{meal.strMeal}}
    </h3>
    <p class="text--font text--size text--margin0">
      <b>Category:</b> {{meal.strCategory}}
    </p>
    <p class="text--font text--size text--margin0">
      <b>Tags:</b> {{meal.strTags}}
    </p>
    <p class="text--font text--size">
      {{meal.strInstructions}}
    </p>
    <h4 class="title--font text--size text--margin0">Ingredients:</h4>
    <ul class="ul text--font text--size text--margin0">
      <li ng-repeat="ingredient in ingredients">
        <b>{{ingredient.name}}</b> -
        <em>{{ingredient.measurement}}</em>
      </li>
    </ul>
  </div>
</section>
