.huge-font {
  font-size: 40px;
}
.big-font {
  font-size: 30px;
}
.medium-font {
  font-size: 20px;
}
.small-font {
  font-size: 18px;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.font-sans {
  font-family: "PT Sans", sans-serif;
}
.maintitle {
  text-align: center;
}
.panel {
  text-align: left;
}

ul {
  list-style-type: circle;
}

.textcolor {
  color: rgb(62, 64, 62);
}
.titlecolor {
  color: var(--main-color);
}
