h1,
h3 {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 32px;
  color: var(--main-color);
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  font-family: "PT Sans", sans-serif;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.font-sans {
  font-family: "PT Sans", sans-serif;
}
