.title--font {
  font-family: "Oswald", sans-serif;
}
.text--font {
  font-family: "PT Sans", sans-serif;
}

.header--align {
  text-align: center;
}
.panel--align {
  text-align: left;
}

.body--color {
  color: rgb(62, 64, 62);
}
.title--color {
  color: var(--main-color);
}
